@charset "UTF-8"; 

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* pallete colors */
:root {
    --background-primary: #f7f7f7;
    --background-secondary: #012256;
    --text-primary: #121111;
    --text-secondary: #012256;
    --text-third: #31ad3e;
    --text-fourth: #f7f7f7;
    --background-border: #febd0f;
    --background-button: #001f59;
}

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}
 
body {
    background-color: var(--background-primary);
}
.container {
    width: 100%;
}
/* header */
header {
    position: sticky;
    inset: 0 0 auto 0;
    z-index: 10;
    box-shadow: 0 0 2px #ccc;
    background-color: var(--background-primary);
    font-family: 'Poppins', sans-serif;
}
header .banner {
    display: block;
    background-color: var(--background-secondary);
    text-align: center;
    padding: 2rem 2rem;
    color: var(--text-fourth);
    text-decoration: none;
    font-size: 1.3rem;
}
header .banner:hover {
    background-color: var(--background-button);
}
header .logo img {
    width: 12rem;
    height: auto;
}
header .container .area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

/* menu-opener */
header .menu-opener {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}
header .hamburger-icon {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
header .hamburger-icon span {
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--text-secondary);
}
header .close-icon {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
header .close-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--text-secondary);
}
header .close-icon span:first-child {
    transform: rotate(45deg);
}
header .close-icon span:last-child {
    transform: rotate(-45deg);
}

/* nav */
header nav {
    background-color: var(--background-primary);
    color: var(--text-secondary);
    overflow-y: hidden;
    max-height: 0;
    transition: all ease 0.5s;
}
header nav.opened {
    max-height: 100vh;
}
header nav ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
header nav li {
    padding: 1.1rem 2rem;
}
header nav a {
    color: var(--text-secondary);
    font-size: 1.5rem;
    font-weight: bold;
    transition: .5s;
}
header nav a:hover {
    opacity: 0.8;
}

/* icons */
.icons {
    display: flex;
}
.icons i {
    font-size: 1.7rem;
    color: var(--text-primary);
    cursor: pointer;
}

/* hero */
section.hero {
    display: flex;
}
section.hero .hero-img img {
    width: 99vw;
    height: auto;
}

/* advantages */
section.advantages {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
    padding: 5rem 1rem;
}
section.advantages .advantages-box {
    background-color: #fff;
    padding: 1rem 1rem;
    border-radius: 0.6rem;
}
section.advantages .advantages-box h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--text-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    gap: 1rem;
}
section.advantages .advantages-box h2 i {
    font-size: 2.3rem;    
}
section.advantages .advantages-box p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

/* categories */
section.categories {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 1rem;
    padding: 5rem 1rem;
    background-color: #fff;
}
section.categories .categories-box h3 {
    text-align: center;
    padding: 1rem 0;
    color: var(--text-secondary);
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
section.categories .categories-box img {
    cursor: pointer;
    border-radius: 6rem;
    transition: .5s;
}
section.categories .categories-box img:hover {
    opacity: 0.8;
}

/* best-sellers */
section.best-sellers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}
section.best-sellers h2 {
    font-size: 2rem;
    color: var(--text-secondary);
    font-family: 'Poppins', sans-serif;
}
section.best-sellers .more-products a button {
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: var(--background-border);
    color: var(--text-secondary);
    font-weight: bold;
    border-radius: 0.6rem;
}
section.best-sellers .more-products a button:hover {
    opacity: 0.8;
    transition: .5s;
}

/* products */
section.products {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

section.products .product {
    border: 1px solid #21252925;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 3rem;
    width: 30rem;
    height: 50rem;
    margin: 1rem;
}

section.products .product-img {
    max-width: 100%;
    height: auto; 
    margin-bottom: 1rem; 
}

section.products h3 {
    text-align: center;
    color: var(--text-secondary);
    font-size: 1.5rem;
    max-width: 30rem;
    font-weight: 500;
}

section.products p {
    padding: 2rem 1rem; 
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--text-primary);
}
section.products a:hover {
    opacity: 0.8;
}
section.products a button {
    background-color: var(--background-border);
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.6rem;
    color: var(--text-secondary);
    font-weight: bold;
    cursor: pointer;
}

/* banner dog and cat */
section.dog-cat a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 0;
}
section.dog-cat img {
    width: 80%;
    align-items: center;
    border-radius: 0.6rem;
}
section.dog-cat img:hover {
    opacity: 0.8;
}

/* footer */
.footer {
    background-color: var(--background-secondary);
    padding: 2rem;
    text-align: center;
}
.logo-footer img {
    max-width: 15rem;
    height: auto;
    margin-bottom: 2rem;
}

.footer p {
    display: inline-block;
    text-align: center;
    font-size: 1.3rem;
    max-width: 50rem;
    color: var(--text-fourth);
    font-family: 'Poppins', sans-serif;
}
h3 {
    margin: 2rem 0 1rem;
    font-size: 1.7rem;
    color: var(--text-fourth);
    font-family: 'Poppins', sans-serif;
}
.payment-methods img {
    max-width: 5rem;
    height: auto;
    margin: 0 1rem;
}
.footer-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.info-footer {
    margin: 2rem;
}
.info-footer ul {
    list-style-type: none;
    padding: 0;
}

.info-footer li {
    margin: 0.5rem 0;
}
.info-footer a {
    text-decoration: none;
    color: var(--text-fourth); 
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}
.info-footer a:hover {
    text-decoration: underline;
}














/* break points */
@media (width > 900px) {
    header .menu-opener {
        display: none;
    }
    header .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header nav { 
        max-height: 100vh;
    }
    header nav ul {
        flex-direction: row;
        padding-bottom: 0;
    }
    section.advantages {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.advantages .advantages-box {
        width: 30rem;
    }
    section.categories {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }    
    section.best-sellers h2 {
        font-size: 3rem;
    }
    section.dog-cat a {
        flex-direction: row;
    }
    section.dog-cat img {
        width: 60rem;
        align-items: center;
    }
    section.dog-cat {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;
    }
    .info-footer {
        margin: 5rem;
    }
}