@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* palette colors */
:root {
    --background-primary: #043873; 
    --background-secondary: #4f9cf9;
    --text-primary: #f2f2f2;
    --text-secondary: #212529;
    --btn-primary: #4f9cf9;
    --btn-primary-hover: #71abee;
    --btn-secondary: #ffe492;
    --btn-secondary-hover: #d1b664;
}
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Nunito", sans-serif;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
    color: var(--text-primary);
}
body {
    font-family: "Nunito", sans-serif;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* header */
header {
    position: sticky;
    inset: 0 0 auto 0;
    z-index: 10;
    background-color: var(--background-primary);
}

header .banner {
    display: block;
    background-color: var(--background-secondary);
    text-align: center;
    padding: 1rem 2rem;
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1.5rem;
}

header .banner:hover {
    opacity: 0.8;
}

header .logo img {
    width: 7rem;
    margin-top: -2rem;
}

header .area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

header .menu-opener {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

header .hamburger-icon {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -15px;
}

header .hamburger-icon span {
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--background-secondary);
}

header .close-icon {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: -15px;
}

header .close-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--background-secondary);
}

header .close-icon span:first-child {
    transform: rotate(45deg);
}

header .close-icon span:last-child {
    transform: rotate(-45deg);
}

header nav {
    background-color: var(--background-primary);
    color: var(--text-primary);
    overflow-y: hidden;
    max-height: 0;
    transition: all ease .5s;
}

header nav.opened {
    max-height: 100vh;
}

header nav ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

header nav li {
    padding: 1rem 3rem;
}

header nav a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit; 
    padding-bottom: 0.5rem;
    font-size: 1.7rem;
}
header nav a:hover {
    color: var(--background-secondary);
}
header nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.2rem;
    width: 0;
    background: var(--background-secondary);
    transition: width 0.5s ease;
}

header nav a:hover::after {
    width: 100%;
}
header .search input { 
    border: none;
    background-color: var(--text-primary);
    border-radius: 0.6rem;
    padding: 1rem 3rem;
}
.search {
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.search input[type="search"] {
    width: 100%;
}

.search i.bi-search {
    position: absolute;
    left: 1.0rem;
    top: 1rem;
    color: #888;
    font-size: 1.5rem;
}
.promo {
    color: var(--btn-secondary-hover);
    font-weight: bold;
}

/* dropdown */
ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    max-width: 100vw;
    background: var(--text-primary);
    color: var(--text-secondary);
    font-weight: bold;
    position: absolute;
    z-index: 11;
    display: none;
    transition: all ease .5s;
}
ul li .dropdown a:hover {
    color: var(--background-secondary);
    font-weight: bold;
}
ul li:hover ul.dropdown {
    display: block;
}
.sub-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* icons */
.icons {
    margin: 1rem 5rem;
}
.icons i {
    font-size: 1.5rem;
    margin: 0 1rem;
    color: var(--text-primary);
}
.icons i:hover {
    color: var(--btn-secondary-hover);
}
/* buttons */
.btn {
    margin-left: 3rem;
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}
.btn button {
    background: var(--background-secondary);
    color: var(--text-primary);
    border: none;
    border-radius: 0.6rem;
    padding: 1rem 3rem;
    cursor: pointer;
    font-weight: bold;
}
.btn button:hover {
    background-color: var(--btn-primary-hover);
}
.btn-desktop {
    display: none;
}

/* main */
main {
    background: #fff;
    margin: 3rem auto;
    box-shadow: 0 0 5px 1px #e5e5e5;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
 /* hero */
.hero {
    position: relative;
    overflow: hidden;
    padding: 4rem 0;
}
/* category */


/* slide */
.swiper {
    max-width: 100vw;
    max-height: 50vh;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    width: 1280px;
    height: auto;
    object-fit: cover;
    background-size: cover;
}







@media (width > 900px) {
    header .menu-opener {
        display: none;
    }
    header .logo img {
        margin-top: 0;
    }
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav {
        max-height: 100vh;
    }
    header nav ul {
        flex-direction: row;
        padding-bottom: 0;
    }
    header .search {
        margin-left: 30rem;
        width: 50rem;
    }
    header .search input {
        width: 100%;
        height: 5rem;
        padding: 1rem 4rem;
    }
    .search i.bi-search {
        top: 1.3rem;
        font-size: 2rem;
    }
    .search {
        margin-top: 0;
    }
    .icons {
        display: flex;
        align-self: center;
    }
    /* buttons */
    .btn {
        display: none;
    }

    /* buttons */
    .btn-desktop {
        display: flex;
    }
    .btn-desktop button {
        background: var(--background-secondary);
        color: var(--text-primary);
        border: none;
        border-radius: 0.6rem;
        padding: 1rem 2rem;
        margin-left: 1.5rem;
        cursor: pointer;
        font-weight: bold;
    }
    .btn-desktop button:hover {
        background-color: var(--btn-primary-hover);
    }

    /* swipe */
    .swiper {
        max-width: 60vw;
        max-height: 50vh;
    }
    /* main */
    main {
        width: 1280px;
    }
}