@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* palette colors */
:root {
    --background-primary: #043873; 
    --background-secondary: #4f9cf9;

    --text-primary: #f2f2f2;
    --text-secondary: #212529;

    --btn-primary: #4f9cf9;
    --btn-primary-hover: #71abee;

    --btn-secondary: #ffe492;
    --btn-secondary-hover: #d1b664;
}
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Nunito", sans-serif;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
    color: var(--text-primary);
}
body {
    font-family: "Nunito", sans-serif;
}
section.container {
    max-width: 1280px;
    margin: 0 auto;
}
/* header */
header {
    background-color: var(--background-primary);
    position: sticky;
    inset: 0 0 auto 0;
    z-index: 10;
    box-shadow: 0 0 1px #333;
}
header .logo img {
    width: 12rem;
}
header .area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}
header .menu-opener {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}
header .hamburger-icon {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
header .hamburger-icon span {
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--background-secondary);
}
header .close-icon {
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
}
header .close-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--background-secondary);
}
header .close-icon span:first-child {
    transform: rotate(45deg);
}
header .close-icon span:last-child {
    transform: rotate(-45deg);
}
header nav {
    color: var(--text-primary);
    overflow-y: hidden;
    max-height: 0;
    transition: all ease .5s;
}
header nav.opened {
    max-height: 100vh;
}
header nav ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
header nav li {
    padding: 1rem 2rem;
    list-style: none;
}
header nav a {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 2rem;
}
header nav a:hover {
    opacity: 0.8;
}
header nav a.bold {
    font-weight: bold;
}

/* media */
@media (width > 900px) {
    header .menu-opener {
        display: none;
    }
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav {
        max-height: 100vh;
    }
    header nav ul {
        flex-direction: row;
        padding-bottom: 0;
    }
}